@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.subheader,
.footer {
    background-color: #1f2937;
    padding: 0px 288px;
}

.subheader-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links ul li a,
.subheader-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button,
.call-to-action {
    background-color: #3882f6;
}

.content h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 0px 288px;
    display: flex;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    /* width: 900px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 48px;
}

.quote-author {
    align-self: flex-end;
    font-size: 28px;
}

.content {
    padding: 0px 288px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 72px;
}

.header-links ul{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding-bottom: 72px;
}

.subheader-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #f9faf8;
}

button {
    padding: 8px 24px;
    border-radius: 12px;
    color: #f9faf8;
    font-weight: 900;
    font-size: 16px;
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-top: 42px;
    padding-bottom: 112px;
}

.frame {
    height: 188px;
    width: 188px;
    border: solid 5px #3882f6;
    border-radius: 10%;
}

.illustrations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 64px;
}

.item {
    width: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.item p {
    text-align: center;
    color: rgb(119, 118, 118);
    font-size: 18px;
}

.call-to-action {
    margin: 144px 288px;
    padding: 72px 144px;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    gap: 12px;
}

.call-to-action h3 {
    font-size: 24px;
}

.call-subtext {
    font-size: 18px;
}

.call-to-action .sign-up {
    border: solid 2px #f9faf8;
    align-self: center;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 12px;
    color: #f9faf8;
    font-size: 18px;
    padding: 36px;
}